apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "fizzy.fullname" . }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.pvc.storageClassName }}
  resources:
    requests:
      storage: {{ .Values.pvc.storage }}